# Ignore node_modules and other dependencies
node_modules
jspm_packages
web_modules

# Ignore build output
dist
build
out

# Ignore test and coverage directories
coverage
.nyc_output

Ignore local environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Ignore cache and log files
.cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache

# Ignore IDE and OS-specific files
.idea
.DS_Store

# Ignore other unnecessary files
*.tgz
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.vscode-test
.tern-port
.dynamodb/
.vscode